/* div{
 
     display: flex;
    justify-content:center;
    align-content:center;
    background-color: blue;
    width: 70px;
    height: 300px;
    border : 1px;

} */
 .ty{
    display: flex;
    padding-top:60px;
 }
 .left
 {
    display: flex;
    flex-direction: column;
 }
.btn{
    display: flex;
    align-content: center;
    background-color: chocolate;  
    justify-content: center;  
    border-radius: 10px;
    width: 250px;
    height: 50px;
    margin: 20px;
    border: none;
    padding-top: 10px;
    gap:10px;

}
.logo{
    display:flex;
    
    
}
.avatar{
    display: flex;
    margin-right: 100px;
    align-items:center;
    float: right;
    width:40px;
    
  
}
.logoimage{
    display: flex;
    margin:20px;
    padding:20px;
    justify-content: center;
    text-align: center;
}
.mns{
    display: flex;
}
.nxt{
    display: flex;
}
.pls{
    display: flex;
}
.op{
    display: flex;

    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    border: none;

}
.opr{
    display:flex;
  height:50px;
    width: 120;
    align-content: center;
    gap:40px;
    margin-top: 20px;
   border-radius:5px;
   border-style: hidden;
   padding-top: 20px;
}
.cart{
    display: flex;
    margin:20px;
     gap:20px;


}

.cart1{
    display: flex;
    margin-right: 10px;
    padding: 20px;
    flex-direction: column;
    float: right;
}
.shoe{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
   .img1{
            display:flex;
            border-radius: 10px;
            width: 300px;

   }


   .shoe1
   {


    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
   }



.shoe2
{ 
display: flex;
margin-left: 200px;
text-align: center;
width: 100px;
height: 70px;
border-radius: 30px;
}

.txt{
    display: flex;
    width: 300px;
}

h1{
    width: 300px;
}
.txt1{
    display: flex;
    margin-left: 400px;
    text-align: center;
    justify-content: center;
}
.shoe3{
    display: flex;
    border-radius: 10px;

}

.brg{
    display: flex;
    margin-bottom: 100px;
  position: absolute;
    top: 8px;
    right: 16px;

}
.add{
    display: flex;
    txt-align: center;
    margin-bottom: 100px;
    position: absolute;
    top: 8px;
    rigt: 16px;
}

.shoes{
     display: flex;
     justify-content: center;
     text-align: center;
     margin-left: 20px;
     border-radius: 10px;
    width:200px;
    height:50px;
}




li
   {
    display: inline;
    justify-content: center;
    list-style: none;``````
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-style:
    font: 1em sans-serif;
}

.calc{
    display: flex;
    gap: 20px;

}

.pct{
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 5px;
    text-align: center;
}
.right{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font:normal;
}

.font{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font:normal;                  
}


.p{

        display: flex;
        text-align: center;
        margin-left: 20px;
     }

.cnts{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

.crm{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}