/* div{

    display: flex;
    justify-content:center;
    align-content:center;
    background-color: blue;
    width: 70px;
    height: 300px;
    border : 1px;

} */
.btn{
    display: flex;
    align-content: center;
    background-color: chocolate;  
    justify-content: center;  
    border-radius: 10px;
    width: 200px;
    height: 20px;
}
.shoe{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
   .img1{
            display:flex;
            border-radius: 10px;
   }
   


   .shoe1
   {

 
     
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    
   }
.shoe2
{
display: flex;
margin-left: 200px;
text-align: center;
width: 100px;
height: 70px;
border-radius: 30px;
}

.txt{
    display: flex;
    margin-left: 200px;
    text-align: center;
}
.txt1{
    display: flex;
    margin-left: 400px;
    text-align: center;
    justify-content: center;
    
}
.shoe3{
    display: flex;
    border-radius: 10px;

}

.brg{
    display: flex;
    margin-bottom: 100px;
    position: absolute;
    top: 8px;
    right: 16px;

}
.add{
    display: flex;
    text-align: center;
    margin-bottom: 100px;
    position: absolute;
    top: 8px;
    right: 16px;
}

.shoes{
     display: flex;
     justify-content: center;
     text-align: center;
     margin-left: 20px;
     border-radius: 10px;
    width:200px;
    height:50px;
} 




  li
  {
    display: inline;
    justify-content: center;
    list-style: none;

    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-style: times new roman;
    font: 1em sans-serif;

}


.cnt{
    display: flex;
    margin-left: 300px;
    text-align: center;
    position: relative;
    float:left;
    vertical-align: text-right;
    position: absolute;
    
    right: 16px;



.p{

        display: flex;
        text-align: center;
        margin-left: 20px;
    }
}

.cnts{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}

.crm{
    display: flex;
    margin-bottom: 20px;
    text-align: center;
}